@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/*Configurações Globais*/
* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

/*Cabeçalho e Menu*/
body{
    background-color: #0A3603;
}
header{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 21px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.493);
}
header{
    position: sticky;
    top: -15px;
    background-image: linear-gradient(to left,#020024,#0b4400);
}
header:hover{
    border-bottom: 1px solid #f3c309;
    padding-top: 30px;
    transition: 0.4s;
    background-image: linear-gradient(to left,#020024,#0b4400);
    
}
.logo-cabeçalho{
    width: 300px;
    max-width: 80%;
    padding-bottom: 15px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.menu01{
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.links{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    border: 5px 10px 5px 10px;
}
.links:hover{
    box-sizing: border-box;
    border: 0.5px solid #f3c309;
    transition: 0.4s;
    color: #f3c309;
}
.login{
    display: none;
    background-color: #f3c309;
    color: #0A3603;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
    
}
.login:hover{
    background-image: linear-gradient(to right,#b1e200,#e9d418);
    transition: 4s;
}

/*Conteudo principal*/
.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 40px;
}
.conteudo:hover{
    background-image: linear-gradient(to right,#0200314f,#0b4400);
    transition: 3s;
}
.inscrevase{
    max-width: 80%;    
}
.h1-insc{
    font-size: 5em;
    color: #f3c309;
    font-family: 'Roboto', sans-serif;
    line-height: 55px;
}
.h2-est{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: white;
}
.p-frase{
    font-size: 1.2em;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.bot-insc{
    padding: 5px 60px 5px 60px;
    border-radius: 20px;
    border: 0;
    margin-top: 10px;
    background-color: #f3c309;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.589);
}
.bot-insc:hover{
    background-image: linear-gradient(to right,#50b101,#e9d418);
    transition: 4s;
}
.text-insc{
    color: #024400;
    padding: 10px 30px 10px 30px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 900;
    font-size: 1.9em;   
}
.img-cont{
    width: 100%;
}
.img-conteudo{
    max-width: 90vw;
}

/*Conteudo Secundário*/
.conteudo-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.historia{
    width: 500px;
    height: 500px;
    padding: 15px;
    padding-bottom: 40px;
}
.historia > h1,p{
    padding-bottom: 20px;
}
.historia >h1{
    color: #e9d418;
    font-family: 'Roboto', sans-serif;
    font-size: 2.0em;
}
.historia >p{
    text-indent: 30px;
}
.img-grupo{
    width: 100%;
}
.historia >button{
    padding: 10px 25px 10px 25px;
    margin-top: 7px;
    border-style: none;
    background-color: #e9d41880;
}
.historia > button > a{
    text-decoration: none;
    color: #0A3603;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
}
.regioes{
    width: 90vw;
    width: 500px;
    height: 500px;
    padding: 15px;
    padding-bottom: 40px;
}
.regioes >h1,p{
    padding-bottom: 20px;
}
.regioes > p{
    padding-top: 20px;
}
.regioes >h1{
    color: #e9d418;
    font-family: 'Roboto', sans-serif;
    font-size: 2.0em;
}
.regioes >button{
    padding: 10px 25px 10px 25px;
    margin-top: 7px;
    border-style: none;
    background-color: #e9d41880;

}
.regioes > button > a{
    text-decoration: none;
    color: #0A3603;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
}
.mapa{
    width: 95%;
}

/*Slides de fotos*/
.h1gal{
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.slide-fotos{
    overflow: hidden;
    max-height: 70%;
    width: 98.8vw;
    padding: 0px;
    position: relative;
    height: 465px;
    box-shadow: 1px 1px 15px black inset;
    background-image: linear-gradient(to top,#000000,#041400);
}
.content{
    height: 500px;
    width: 800px;
    max-width: 96vw;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.slide-fotos:hover{
    padding-bottom: 200px;
    transition: 1s;
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.barra{
    box-shadow: 1px 1px 14px black;
    width: 30px;
    height: 10px;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.336);
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;                                                                        
}
.barra:hover{
    background-color: rgb(255, 255, 255);
    transition: .5s;
}
.input{
    display: none;
}
.slides{
    display: flex;
    flex-direction: row;
    width: 1399%;
    height: 100%;
}
.slide{
    width: 7%;
    transition: .5s;
}
.slide img{
    width: 100%;                
    height: 100%;
}
/*Passando slides*/
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -7%;
}
#slide3:checked ~ .s1{
    margin-left: -14%;
}
#slide4:checked ~ .s1{
    margin-left: -21%;
}
#slide5:checked ~ .s1{
    margin-left: -28%;
}
#slide6:checked ~ .s1{
    margin-left: -35%;
}
#slide7:checked ~ .s1{
    margin-left: -42%;
}
#slide8:checked ~ .s1{
    margin-left: -49%;
}
#slide9:checked ~ .s1{
    margin-left: -56%;
}
#slide10:checked ~ .s1{
    margin-left: -63%;
}
#slide11:checked ~ .s1{
    margin-left: -70%;
}
#slide12:checked ~ .s1{
    margin-left: -77%;
}
#slide13:checked ~ .s1{
    margin-left: -84%;
}
#slide14:checked ~ .s1{
    margin-left: -91%;
}
/*Mapas e contatos*/
.contate-nos{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.486));
    width: 1000px;
    height: 400px;
    max-width: 95vw;
}
.contats{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.maps{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
}
iframe{
    max-width:100%;
    max-height: 100%;
}
.redes-sociais{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.redes-sociais >h1{
    font-size: 1.3em;
}
.redes-sociais >h1,h3{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;  
}
.redes-sociais >p{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;    
}
.redes-sociais >h3{
    margin-bottom: 2px;
}
/*Rodapé*/
footer{
    text-align: center;
    background-image: linear-gradient(to left,#020024,#0b4400);
    color: white;
}
footer >p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}